.disk-storage-container {
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.disk-storage-button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    width: 15em;
}

.load {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    text-align: center;
}

.load-warning {
    font-size: small;
    color: rgba(255, 0, 0, 0.6);
    font-weight: bold;
}
