.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
    align-items: center;
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 2;
}

.node-name {
    border: 0px solid;
    font-size: larger;
    text-align: center;
    outline: none;

    &:focus {
        border-bottom: 1px solid blue;
        padding-bottom: 2px;
    }
}
