.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    padding: 2.5%;
    width: 25%;
    background-color: #74ccfc;
    z-index: 2;
}

// TODO: Make input field take up only required amount of space
.node-name {
    border: 0px solid;
    font-size: larger;
    text-align: center;
    outline: none;

    &:focus {
        border-bottom: 1px solid blue;
        padding-bottom: 2px;
    }
}
