.node-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: fade-in 2s;
}

// TODO: Make input field take up only required amount of space
.node-name {
    border: 0px solid #36393f;
    font-size: larger;
    text-align: center;
    outline: none;
    color: white;
    background-color: #36393f;
    transition: border 0.3s;
    margin-bottom: 5px;
    height: 1.5em;

    &:focus {
        border-bottom: 1px solid white;
    }
}

.position {
    color: white;
    margin-top: 5px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
