.node-information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;

    width: 100%;
    height: 100%;

    animation: fade-in 2s;
}

.node-information-tooltip {
    align-self: flex-start;
    font-size: larger;
    color: white;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
