.cpt-parents {
    width: 100%;
}

.cpt-table-parents-container {
    width: 100%;
    overflow: auto;
    padding-bottom: 1em;
}

.cpt-table-parents {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

.cpt-parents-header {
    min-width: 5em;
    padding: 0.5em 0.25em;
    overflow: auto;
}

.cpt-table-parents,
.cpt-parents-header,
.cpt-parents-row,
.parent-state,
.node-probability {
    border: 1px solid;
}

.parent-state {
    text-align: center;
}

.parent-state,
.node-probability {
    padding: 0.5em;
}

.node-probability-input {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    text-align: center;
    appearance: textfield;
    font-size: medium;
    transition: color 0.5s;
    width: 100%;
}

.cpt-parents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5em;
}

.submit-parent-cpt {
    align-self: center;
    color: grey;
    transform: scale(1);
    transition: color 0.3s linear, transform 0.2s;
    cursor: pointer;

    &:hover {
        color: white;
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.9);
        transition: transform 0.1s;
    }
}
